<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
  	<section>
      <h1>
        <%= @user.name %>
        <%= gravatar_for @user %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
    <% if @user.microposts.any? %>
      <p class="count"><%= @user.microposts.count %></p>
    <ul id="posts">
      <%= render @microposts %>
    </ul>
    <% end %>
  </span8>
</div>